@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Share+Tech+Mono&display=swap');
 * {
	 font-family: 'Share Tech Mono', monospace;
	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
	 scroll-behavior: smooth;
	 user-select: none;
         text-align: center;
         
}
 body {
	 background-color: lightsteelblue;
	 width: 100vw;
	 display: flex;
	 justify-content: center;
	 background-size: 64px 128px;
}

main {
        background-color: #fff;
        padding: 1rem;
}

h1{
        font-weight: 900;
        font-size: 3rem;
        margin-top: 3rem;
}

#description{
        margin-top: 2rem;
}

#source{
        text-align: right;
        margin-top: 2rem;
        margin-right: 6.5rem;

}
a{
        display: inline-block;
        text-decoration: none;
        padding: 2.5px;
        transition: all .3s ease-in-out;
}

a:hover{
        background-color: blue;
        color: #fff;
        transform: translateY(-10px);

}

.tooltip {
        position: absolute;
        padding: 10px;
        font: 12px Arial;
        background: rgba(255, 255, 204, 0.9);
        box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
        border: 0px;
        border-radius: 2px;
        pointer-events: none;
        opacity: 0;
        z-index: 10;
      }

      #map-holder{
        margin-top: 1rem;
      }


.county:hover{
        fill: steelblue;
        border: 2px solid black;
}